body{
    background-color: darkgray;
}
p, h1, h2, h3, h4, h5 {
    color: white;
    background: lightgray;
}

p{
    border: 20px skyblue solid;
    margin-top: 7.5%;
    padding: 20px;
    width: 100%;
    height: 50px;
}

h1, h2, h3, h4{
    border: 10px lightcoral solid;
    margin: 0px;
    padding: 50px;
    padding-left: 80px;
    padding-top: 60px;
    width: 100px;
    height: 100px;
}

h2{
    float:right;
    margin-top: -15%;
    
}

h3, h4{
    padding: 50px;
    padding-top:80px;
    padding-bottom: 10px;

}
h3{
    margin-top: 10.5%;
    margin-bottom: -15%;
}


h4{
    float:right;
}




